<main class="mainn">
    <section data-w-id="821cd7aa-660f-c572-9809-44518bf50f2f" class="sectionn black-sectionn overflow-visible">
        <div class="mg containerr shipments__containerr">
            <div class="max-490-content">
                <h2 class="white-h2">МЕЖСКЛАДОВСКИЕ ПЕРЕВОЗКИ</h2>
                <div class="_16-px-text light-white-text _25-margin-text">по Московскому
                    региону<br><br>Круглосуточная поддержка автосервиса-партнера<br><br>Круглосуточный контроль логистов за выездом
                    машины по графику и объемом товара (замена класса ТС в течение часа)</div>
                <div class="ms-features">
                    <div class="ms-feature">
                        <div class="ms-feature-icon-core"><img
                                src="../img/5eaac2620e033446d08c42d1/5eaac2620e03345af08c4306_monitor_icon.svg" alt="">
                        </div>
                        <div>178 Машин<br>работает 24/7</div>
                    </div>
                    <div class="ms-feature">
                        <div class="ms-feature-icon-core"><img
                                src="../img/5eaac2620e033446d08c42d1/5eaac2620e03345af08c4306_monitor_icon.svg" alt="">
                        </div>
                        <div>2 Минимум рейса<br>в день каждая машина</div>
                    </div>
                    <div class="ms-feature">
                        <div class="ms-feature-icon-core"><img
                                src="../img/5eaac2620e033446d08c42d1/5eaac2620e03345af08c4306_monitor_icon.svg" alt="">
                        </div>
                        <div>500 Выездов в сутки</div>
                    </div>
                    <div class="ms-feature">
                        <div class="ms-feature-icon-core"><img
                                src="../img/5eaac2620e033446d08c42d1/5eaac2620e03345af08c4306_monitor_icon.svg" alt="">
                        </div>
                        <div>20 400 м³ товаров<br>в сутки</div>
                    </div>
                    <div class="ms-feature">
                        <div class="ms-feature-icon-core"><img
                                src="../img/5eaac2620e033446d08c42d1/5eaac2620e0334781c8c4329_adress_icon.svg" alt="">
                        </div>
                        <div>Индивидуальный подход</div>
                    </div>
                    <div class="ms-feature">
                        <div class="ms-feature-icon-core"><img
                                src="../img/5eaac2620e033446d08c42d1/5eaac2620e03346c118c42fe_dates_preorder.svg" alt="">
                        </div>
                        <div>Точные сроки исполнения</div>
                    </div>
                </div>
            </div>
            <div class="home-absolute-images-core">
                <div class="ms-tablet-and-mobile-img new"
                    style="top: 0px; will-change: transform; transform: translate3d(0px, 2.3708px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg); transform-style: preserve-3d;">
                </div>
            </div>
        </div>
        <div class="content-zone smaller-horiz-cz"></div>
    </section>
</main>