<footer>
    <div class="mg">

        <div class="footer__container">
            <div class="footer__text">
                <div class="footer__text__contact">
                    <span class="footer__title">Контактная информация:</span>
                    <span>+7 (903) 795-95-39 <br> +7 (903) 795-95-24<br><br>pvlogistic@inbox.ru</span>
                    <button onclick="orderPhoneCall()" class="header__item__button bordered">Заказать звонок</button>
                </div>
                <div class="footer__text__addition">
                    <span class="footer__title">Адрес:</span>
                    <span>ул. Полевая 3, Подольск, село Покров, Московская обл., 142184</span>
                    <span class="footer__title">Время работы:</span>
                    <span>Ежедневно с 9:00 до 18:00<br><br>Прием заявок ежедневно и круглосуточно</span>
                </div>
            </div>
            <div class="footer__logo__map">
                <a href="/">
                    <div class="footer__logo"><img src="img/logo.svg"></div>
                </a>
                <iframe
                    class="footer__map"
                    src="https://yandex.ru/map-widget/v1/?um=constructor%3A5f948a34a1acd2b4b57935f92de133e0f9092ab0ff915e5df6b7f3db2382b2b2&amp;source=constructor"
                    width="500" height="305" frameborder="0">
                </iframe>
            </div>
        </div>
    </div>
</footer>