<header>
    <div class="header__item grid1">
        <a href="/"><img src="img/logo.svg" class="header__item__logo"></a>
    </div>
    <div id="menu" class="header__item d-none"><img src="img/menu.svg"></div>
    <div id="links" class="header__item__links grid2 d-none">
        <a class="header__item" href="mailto:pvlogistic@inbox.ru">pvlogistic@inbox.ru</a>
        <a class="header__item" href="tel:+79037959539">+7 (903) 795-95-39</a>
        <a class="header__item" href="tel:+79037959524">+7 (903) 795-95-24</a>
    </div>
    <div id="links2" class="header__item__links grid2">
        <a id="link1" class="header__item menu-item button" href="./">
            <span class="button__line button__line--top"></span>
            <span class="button__line button__line--right"></span>
            <span class="button__line button__line--bottom"></span>
            <span class="button__line button__line--left"></span>Маркетплейсы</a>
        <a id="link2" class="header__item menu-item button" href="./about">
            <span class="button__line button__line--top"></span>
            <span class="button__line button__line--right"></span>
            <span class="button__line button__line--bottom"></span>
            <span class="button__line button__line--left"></span>Фулфилмент</a>
        <a id="link3" class="header__item menu-item button" href="./about2">
            <span class="button__line button__line--top"></span>
            <span class="button__line button__line--right"></span>
            <span class="button__line button__line--bottom"></span>
            <span class="button__line button__line--left"></span>Грузоперевозки</a>
    </div>
    <div class="header__item grid3">
        <button id="ordercall" onclick="orderPhoneCall()" class="header__item__button bordered">ЗАКАЗАТЬ ЗВОНОК</button>
    </div>
</header>