<div id="menuPopup" class="menu__window bordered__menu">
    <div class="menu__window__head">
        <img src="img/logo.svg" class="menu__logo">
        <img id="close" src="img/close.svg">
    </div>
    <a id="link1" href="./">Маркетплейсы</a>
    <a id="link2" href="./about">Фулфилмент</a>
    <a id="link3" href="./about2">Грузоперевозки</a>
    <div class="menu__title">
        <img src="img/geo.svg">
        <span>Адрес:</span>
    </div>
    <span class="menu__desc">ул. Полевая 3, Подольск, село Покров, Московская обл., 142184</span>
    <div class="menu__title">
        <img src="img/time.svg">
        <span>Время работы:</span>
    </div>
    <span class="menu__desc">Ежедневно с 9:00 до 18:00
        Прием заявок ежедневно и круглосуточно</span>
    <div class="menu__title" style="margin-bottom: 10px;">
        <img style="width: 25px; height: 25px;" src="img/phone.svg">
        <span>Контакты:</span>
    </div>
    <a style="font-size: 24px;" href="tel:+79037959539">+7 (903) 795-95-39</a>
    <a style="font-size: 24px;" href="tel:+79037959524">+7 (903) 795-95-24</a>
    <div class="modal__btn__container">
        <button onclick="orderPhoneCall()" class="form_btn bordered modal__btn">Заказать звонок</button>
    </div>
</div>