<div class="calc__modal blur__modal" id="modal">
    <div class="calc__modal__wrap">
        <div class="calc__modal__window bordered">
            <span class="modal__title">Стоимость доставки:</span>
            <div class="modal__text">
                <span class="modal__text__grid">Откуда: <span id="modal-from"></span></span>
                <span class="modal__text__grid">Вес груза: <span id="modal-weight"></span> кг</span>
                <span class="modal__text__grid">Куда: <span id="modal-to"></span></span>
                <span class="modal__text__grid">Объем груза: <span id="modal-volume"></span> м3</span>
                <span class="modal__text__grid">Стоимость: <span id="modal-cost"></span> руб.</span>
                <span class="modal__text__grid">Расстояние: <span id="modal-dist"></span> км</span>
            </div>
            <div class="modal__inputs">
                <input id="modal-mail" type="email" required class="input-item" placeholder="Адрес электронной почты">
                <input id="modal-tel" type="tel" required class="input-item" placeholder="Номер телефона">
                <input id="modal-comment" type="text" required class="input-item modal__item2"
                    placeholder="Комментарий">
            </div>
            <div class="modal__subscribe">
                <input type="checkbox" id="isSub" checked>
                <span>Подписаться на рассылку</span>
            </div>
            <div class="modal__btn__container">
                <button onclick="postRequest()" class="form_btn bordered modal__btn">Заказать звонок</button>
            </div>
        </div>

        <div class="success__modal__window bordered">
            <span class="modal__title">Ваша заявка успешно отправлена!</span>
            <span class="success__text">Наш менеджер свяжется с Вами в ближайшее время.</span>
            <div class="modal__btn__container">
                <button onclick="closeModal()" class="form_btn bordered modal__btn">Готово</button>
            </div>
        </div>

        <div class="order__modal__window bordered">
            <img id="closeOrderCall" src="img/close.svg">
            <span class="modal__title">Заказ звонка от нашей компании</span>
            <form onsubmit="orderCall(e)">
                <div class="modal__sub__inputs">
                    <input required id="modal-order-name" type="text" required class="input-item" placeholder="Имя">
                    <input required id="modal-order-phone" type="phone" required class="input-item"
                        placeholder="Телефон">
                </div>
                <div class="modal__btn__container">
                    <button type="submit" class="form_btn bordered modal__btn">Заказать звонок</button>
                </div>
            </form>
        </div>

        <div class="fullcalc__modal__window bordered">
            <img id="closeFullCalc" src="img/close.svg">
            <form id="calc" onsubmit="calculate(event)">
                <label>Способ перевозки:</label><br>
                <input type="radio" name="shipment_type" value="groupage" id="groupage">
                <span>Сборный груз</span><br>
                <input type="radio" name="shipment_type" value="dedicated_transport" id="dedicated_transport">
                <span>Выделенный транспорт</span><br>
                <input type="radio" name="shipment_type" value="container" id="container">
                <span>Контейнер</span><br><br>

                <div id="groupage_options" style="display: none;">
                    <input name="groupage_option" type="radio" value="one_place" id="one_place">1 место <br>
                    <input name="groupage_option" type="radio" value="multiple_places" id="multiple_places">Несколько
                    мест <br>
                    <input name="groupage_option" type="radio" value="letter" id="letter">Письмо <br>
                </div> <br>

                <div id="dimensions" style="display: none;">
                    <input class="input-item" placeholder="Количество мест" style="margin-top: 20px;" name="places_count" type="number" value="1" id="places_count" min="1" style="display: none;">
                    <div id="dimensions_fields">
                    </div>
                </div>
                <!-- <label>Объявленная стоимость (руб):</label><br>
                <input class="input-item" type="text" name="value"><br><br> -->

                <label>Откуда:</label><br>
                <input class="input-item" type="text" name="from" id="from"><br>
                <script>
                ymaps.ready(init); function init() { 
                    var suggestView = new ymaps.SuggestView("from")
                }
                </script>
                <br>
                <input type="checkbox" name="pickupFrom" value="true">
                <span>Самостоятельно привезти груз на терминал</span>
                <br>
                
                <input type="checkbox" name="deliveryFrom" value="true">
                <span>Забрать груз от адреса отправителя:</span><br><br>

                <label>Куда:</label><br>
                <input class="input-item" type="text" name="to" id="to"><br>
                <script>
                    ymaps.ready(init); function init() { 
                        var suggestView = new ymaps.SuggestView("to")
                    }
                </script>
                <input type="checkbox" name="pickupTo" value="true">
                <span>Самостоятельно забрать груз с терминала:</span>
                <br>
                <input type="checkbox" name="deliveryTo" value="true">
                <span>Доставить груз до адреса получателя:</span>
                <br><br>

                <label>Дата доставки:</label><br>
                <input class="input-item" type="date" name="deliveryDate"><br><br>
                <label>Услуги на терминале отправителе:</label><br>
                <input type="checkbox" name="palletBoard" value="true">
                <span>Упаковать в палетный борт (только до
                    терминала-получателя) </span><br>
                <input type="checkbox" name="palletBoardAmortization" value="true">
                <span>Упаковать в комплекс «палетный борт +
                    амортизация» (только до терминала-получателя)</span><br>
                <input type="checkbox" name="woodenCrate" value="true">
                <span>Упаковать в деревянную обрешетку</span><br>
                <input type="checkbox" name="woodenCrateAmortization" value="true">
                <span>Упаковать в комплекс «обрешетка +
                    амортизация»</span><br>
                <input type="checkbox" name="hardBox" value="true">
                <span>Упаковать в жесткий короб</span><br>
                <input type="checkbox" name="bags" value="true">
                <span>Упаковать в мешки</span><br>
                <input type="checkbox" name="additionalPackaging" value="true">
                <span>Упаковать в дополнительную упаковку</span><br>
                <input type="checkbox" name="bubbleWrap" value="true">
                <span>Упаковать в воздушно-пузырьковую пленку</span><br>
                <input type="checkbox" name="cardboardBoxes" value="true">
                <span>Упаковать в картонные коробки</span><br>
                <input type="checkbox" name="autoGlassPackaging" value="true">
                <span>Упаковать в специальную упаковку для
                    автостекол</span><br>
                <input type="checkbox" name="autoPartsPackaging" value="true">
                <span>Упаковать в специальную упаковку для
                    автозапчастей</span><br><br>

                <label>Услуги по сопроводительным документам:</label><br>
                <input type="checkbox" name="sendDocs" value="true">
                <span>Отправка сопроводительных документов</span><br>
                <input type="checkbox" name="returnDocs" value="true">
                <span>Возврат сопроводительных документов</span><br><br>
            </form>
            <div class="modal__btn__container">
                <button form="calc" class="form_btn bordered modal__btn" type="submit">Рассчитать стоимость
                    доставки</button>
            </div>
            <div id="result"></div>
        </div>

        <div class="sub__modal__window bordered">
            <span class="modal__title">Введите имя и электронный адрес</span>
            <div class="modal__sub__inputs">
                <input id="modal-sub-name" type="text" required class="input-item" placeholder="Имя">
                <input id="modal-sub-mail" type="email" required class="input-item" placeholder="Электронная почта">
            </div>
            <div class="modal__btn__container">
                <button onclick="subscribe()" class="form_btn bordered modal__btn">Готово</button>
            </div>
        </div>
    </div>
</div>