<div class="about__text about__slider slider2">
    <div class="about__title">ПРАЙС-ЛИСТ</div>
</div>

<div class="slider__container2">
    
    <div class="slider__item2">
        <div class="titles__slide">
            <div class="slide__part">
                <img src="../img/wb.png">
            </div>
            <span class="title__slide">Отдельная машина (1-10 палет)</span>
        </div>
        <img class="img__slide" src="../img/отдельная.jpg">
    </div>

    <div class="slider__item2">
        <div class="titles__slide">
            <div class="slide__part">
                <img src="../img/ozon.png">
            </div>
            <span class="title__slide">Среда, суббота</span>
        </div>
        <img class="img__slide" src="../img/slide9.svg">
    </div>

    <div class="slider__item2">
        <div class="titles__slide">
            <div class="slide__part">
                <img src="../img/yamarket.png">
            </div>
            <span class="title__slide">Склады в Томлино и Софьино. Доставка по вторникам</span>
        </div>
        <img class="img__slide" src="../img/slide1.svg">
    </div>
</div>