<div class="about__text about__slider slider2">
    <div class="about__title">ПРАЙС-ЛИСТ</div>
    <div class="slider__buttons">
        <span id="pag" style="margin-right: 10px;"></span>
        <button class="btn__prev2"><img src="img/slide_btn.svg"></button>
        <button class="btn__next2"><img src="img/slide_btn.svg"></button>
    </div>
</div>
<div class="titles__slide">
    <div id="slide__part"></div>
    <span id="title__slide"></span>
</div>
<div class="slider__container2">
    <div class="slider__track2">
        <swiper-container>
            <swiper-slide>
                <div class="slider__item2">
                    <img class="img__slide" src="../img/slide1.svg">
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="slider__item2">
                    <img class="img__slide" src="../img/slide2.svg">
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="slider__item2">
                    <img class="img__slide" src="../img/slide3.svg">
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="slider__item2">
                    <img class="img__slide" src="../img/slide4.svg">
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="slider__item2">
                    <img class="img__slide" src="../img/slide5.svg">
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="slider__item2">
                    <img class="img__slide" src="../img/slide6.svg">
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="slider__item2">
                    <img class="img__slide" src="../img/slide7.svg">
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="slider__item2">
                    <img class="img__slide" src="../img/slide8.svg">
                </div>
            </swiper-slide>
            <swiper-slide>
                <div class="slider__item2">
                    <img class="img__slide" src="../img/slide9.svg">
                </div>
            </swiper-slide>
        </swiper-container>
    </div>
</div>