<header>
    <div class="header__item grid1">
        <img src="img/logo.svg" class="header__item__logo">
    </div>
    <div class="header__item__links grid2">
        <a class="header__item" href="mailto:pvlogistic@inbox.ru">pvlogistic@inbox.ru</a>
        <a class="header__item" href="tel:+79037959539">+7 (903) 795-95-39</a>
        <a class="header__item" href="tel:+79037959524">+7 (903) 795-95-24</a>
    </div>
    <div class="header__item grid3">
        <a href="#target"><button class="header__item__button bordered">ЗАКАЗАТЬ ЗВОНОК</button></a>
    </div>
</header>