<div id="menuPopup" class="menu__window bordered__menu">
    <div class="menu__window__head">
        <img src="img/logo.svg" class="menu__logo">
        <img id="close" src="img/close.svg">
    </div>
    <a id="link1" href="./">Маркетплейсы</a>
    <a id="link2" href="./about">Фуллфилмент</a>
    <a id="link3" href="./about2">Грузоперевозки</a>
    <div class="menu__title">
        <img src="img/geo.svg">
        <span>Адрес:</span>
    </div>
    <span class="menu__desc">Московская ул., 15, Климовск, Московская обл., 142184</span>
    <div class="menu__title">
        <img src="img/time.svg">
        <span>Время работы:</span>
    </div>
    <span class="menu__desc">Ежедневно с 10:00 до 17:00
        Прием заявок ежедневно и круглосуточно</span>
    <div class="modal__btn__container">
        <button onclick="orderPhoneCall()" class="form_btn bordered modal__btn">Заказать звонок</button>
    </div>
</div>