<div id="popup" class="popup__sub bordered">
    <span class="popup__title">ПОДПИСАТЬСЯ НА РАССЫЛКУ ОТ КОМПАНИИ?</span>
    <div class="popup__btns">
        <button onclick="acceptSub()" class="popup__acc">ДА</button>
        <button onclick="cancelSub()" class="popup__dec">НЕТ, СПАСИБО</button>
    </div>
</div>