<div class="slider__container">
    <div class="slider__track">
        <div class="slider__item">

            <div class="slider__item__header">
                <div class="slider__item__header__user">C</div>
                <div class="slider__item__header__rate">
                    <img src="img/star.svg"><img src="img/star.svg"><img src="img/star.svg"><img
                        src="img/star.svg"><img src="img/star.svg">
                </div>
            </div>
            <div class="slider__item__title">СНЕЖАНА Г.</div>
            <div class="slider__item__body">Наша компания уже больше года сотрудничает с замечательной
                компанией ПВ Логистик. Мы в восторге от этой компании. Ребята все первоклассные, знающие
                свое дело, всегда помогут в любых вопросах. Логист Евгения великолепная девушка, всегда
                очень грамотно постоит маршрут так, чтобы вовремя ко всем успеть. Ребятушки, я очень
                горжусь знакомством с вами! Успехов Вам и процветания!!!
            </div>
        </div>

        <div class="slider__item">

            <div class="slider__item__header">
                <div class="slider__item__header__user">Я</div>
                <div class="slider__item__header__rate">
                    <img src="img/star.svg"><img src="img/star.svg"><img src="img/star.svg"><img
                        src="img/star.svg"><img src="img/star.svg">
                </div>
            </div>

            <div class="slider__item__title">ЯРОПОЛК И.</div>
            <div class="slider__item__body">Вот уже продолжительное время пользуюсь услугами данной
                конторы, все всегда на высшем уровне, вежливые сотрудники, помогающие и
                координирующие, отдельное спасибо хочу сказать Глебу, со всем помог, сопроводил,
                объяснил. Все рабочие договорённости выполняют в срок и качественно. В общем
                конторой доволен на все 100%, можете обращаться
            </div>
        </div>

        <div class="slider__item">
            <div class="slider__item__header">
                <div class="slider__item__header__user">В</div>
                <div class="slider__item__header__rate">
                    <img src="img/star.svg"><img src="img/star.svg"><img src="img/star.svg"><img
                        src="img/star.svg"><img src="img/star.svg">
                </div>
            </div>
            <div class="slider__item__title">ВАДИМ БОРИСОВ</div>
            <div class="slider__item__body">Давно хотел написать отзыв, наконец-то появилось
                время. С 2020 года пользуюсь услугами этой компании. Доволен качеством услуг.
                Доставка осуществляется вовремя. Женя - главный логист заботится от клиентах,
                как о своей семье. Это сразу приятно удивило и я распрощаться со своими другими
                логистами. Теперь я самый лояльный клиент этой компании. Спасибо вам.
            </div>
        </div>

        <div class="slider__item">
            <div class="slider__item__header">
                <div class="slider__item__header__user">И</div>
                <div class="slider__item__header__rate">
                    <img src="img/star.svg"><img src="img/star.svg"><img src="img/star.svg"><img
                        src="img/star.svg"><img src="img/star.svg">
                </div>
            </div>
            <div class="slider__item__title">ИРИНА ЕЛИСЕЕВА</div>
            <div class="slider__item__body">Работаю с компанией полтора года. За все время
                ни одного пересорта (!!!) все операции выполняются строго по тех заданию,
                аккуратно и в срок. Гибкие условия, замечательный менеджер, огромная
                благодарность!
            </div>
        </div>

        <div class="slider__item">
            <div class="slider__item__header">
                <div class="slider__item__header__user">М</div>
                <div class="slider__item__header__rate">
                    <img src="img/star.svg"><img src="img/star.svg"><img src="img/star.svg"><img
                        src="img/star.svg"><img src="img/star.svg">
                </div>
            </div>
            <div class="slider__item__title">MYSUPERTOY M.</div>
            <div class="slider__item__body">Работаем с ПВ Логистик с 2019 года, возим
                постоянно на ВБ и Озон. Особенно благодарим нашего менеджера Евгению за
                готовность решить любой вопрос в крадчайшие сроки. Спасибо. Рекомендую!
            </div>
        </div>

        <div class="slider__item">
            <div class="slider__item__header">
                <div class="slider__item__header__user">И</div>
                <div class="slider__item__header__rate">
                    <img src="img/star.svg"><img src="img/star.svg"><img src="img/star.svg"><img
                        src="img/star.svg"><img src="img/star.svg">
                </div>
            </div>
            <div class="slider__item__title">ИВАН Ж.</div>
            <div class="slider__item__body">Отличная компания, профессиональный и
                гибкий подход, работаю теперь только с этими ребятами и другим
                рекомендую. Вам желаю процветания и роста.
            </div>
        </div>
    </div>
</div>