<div class="slider__block">
    <section class="overflow-hidden-section section">
        <div class="container gets-your-ship__container">
            <div class="conveuer-block">
                <div class="conveer-line" data-w-id="4006e4fa-dee4-922a-6da0-c7cda5b665e3">
                    <div class="conveer-elements">
                        <div class="conveer-element">
                            <div class="conveer-img-core"><img alt="ecommerce orders icon" class="conveer-element-img"
                                    src="https://uploads-ssl.webflow.com/5eaac2620e033446d08c42d1/5eaac2620e033434828c4319_store_icon.svg"
                                    loading="lazy"></div>
                            <div style="color: black;">Хранение</div>
                        </div>
                        <div class="conveer-element">
                            <div class="conveer-img-core"><img alt="warehousing icon" class="conveer-element-img"
                                    src="https://uploads-ssl.webflow.com/5eaac2620e033446d08c42d1/5eaac2620e0334ff3d8c430c_pick_icon.svg"
                                    loading="lazy"></div>
                            <div style="color: black;">Сортировка</div>
                        </div>
                        <div class="conveer-element">
                            <div class="conveer-img-core"><img alt="packing box icon" class="conveer-element-img"
                                    src="https://uploads-ssl.webflow.com/5eaac2620e033446d08c42d1/5eaac2620e03347b768c4335_pack_icon.svg"
                                    loading="lazy"></div>
                            <div style="color: black;">Упаковка</div>
                        </div>
                        <div class="conveer-element">
                            <div class="conveer-img-core"><img alt="red truck icon" class="conveer-element-img"
                                    src="https://uploads-ssl.webflow.com/5eaac2620e033446d08c42d1/5eaac2620e033417ca8c4322_ship_icon.svg"
                                    loading="lazy"></div>
                            <div style="color: black;">Отправка</div>
                        </div>
                        <div class="conveer-element">
                            <div class="conveer-img-core"><img alt="easy tracking icon" class="conveer-element-img"
                                    src="https://uploads-ssl.webflow.com/5eaac2620e033446d08c42d1/5eaac2620e033417d78c4318_track_icon.svg"
                                    loading="lazy"></div>
                            <div style="color: black;">Отслеживание</div>
                        </div>
                        <div class="conveer-element">
                            <div class="conveer-img-core"><img alt="returns processing icon" class="conveer-element-img"
                                    src="https://uploads-ssl.webflow.com/5eaac2620e033446d08c42d1/5eaac2620e0334b29e8c4337_return_icon.svg"
                                    loading="lazy"></div>
                            <div style="color: black;">Возврат</div>
                        </div>
                    </div>
                    <div class="conveer-elements">
                        <div class="conveer-element">
                            <div class="conveer-img-core"><img alt="" class="conveer-element-img"
                                    src="https://uploads-ssl.webflow.com/5eaac2620e033446d08c42d1/5eaac2620e033434828c4319_store_icon.svg">
                            </div>
                            <div style="color: black;">Хранение</div>
                        </div>
                        <div class="conveer-element">
                            <div class="conveer-img-core"><img alt="" class="conveer-element-img"
                                    src="https://uploads-ssl.webflow.com/5eaac2620e033446d08c42d1/5eaac2620e0334ff3d8c430c_pick_icon.svg">
                            </div>
                            <div style="color: black;">Сортировка</div>
                        </div>
                        <div class="conveer-element">
                            <div class="conveer-img-core"><img alt="" class="conveer-element-img"
                                    src="https://uploads-ssl.webflow.com/5eaac2620e033446d08c42d1/5eaac2620e03347b768c4335_pack_icon.svg">
                            </div>
                            <div style="color: black;">Упаковка</div>
                        </div>
                        <div class="conveer-element">
                            <div class="conveer-img-core"><img alt="" class="conveer-element-img"
                                    src="https://uploads-ssl.webflow.com/5eaac2620e033446d08c42d1/5eaac2620e033417ca8c4322_ship_icon.svg">
                            </div>
                            <div style="color: black;">Отправка</div>
                        </div>
                        <div class="conveer-element">
                            <div class="conveer-img-core"><img alt="" class="conveer-element-img"
                                    src="https://uploads-ssl.webflow.com/5eaac2620e033446d08c42d1/5eaac2620e033417d78c4318_track_icon.svg">
                            </div>
                            <div style="color: black;">Отслеживание</div>
                        </div>
                        <div class="conveer-element">
                            <div class="conveer-img-core"><img alt="" class="conveer-element-img"
                                    src="https://uploads-ssl.webflow.com/5eaac2620e033446d08c42d1/5eaac2620e0334b29e8c4337_return_icon.svg">
                            </div>
                            <div style="color: black;">Возврат</div>
                        </div>
                    </div>
                </div>
                <div class="conveer-animated-basis">
                    <div class="conveer-video w-background-video w-background-video-atom" data-autoplay="true"
                        data-loop="true"
                        data-poster-url="https://uploads-ssl.webflow.com/5e85cc5c05cae10597d74ecb/5e879e35516d8f218eaa3ddf_conveer 3-poster-00001.jpg"
                        data-video-urls="https://uploads-ssl.webflow.com/5eaac2620e033446d08c42d1/5eaac2620e0334334f8c4360_conveer%203-transcode.mp4,https://uploads-ssl.webflow.com/5eaac2620e033446d08c42d1/5eaac2620e0334334f8c4360_conveer%203-transcode.webm"
                        data-wf-ignore="true" tabindex="-1"><video autoplay="" data-object-fit="cover"
                            data-wf-ignore="true" id="b00c62f3-334f-7a08-1baa-918ad50581ff-video" loop="" muted=""
                            playsinline=""
                            style="background-image:url('&quot;https://uploads-ssl.webflow.com/5e85cc5c05cae10597d74ecb/5e879e35516d8f218eaa3ddf_conveer 3-poster-00001.jpg&quot;')"
                            tabindex="-1">
                            <source data-wf-ignore="true"
                                src="https://uploads-ssl.webflow.com/5eaac2620e033446d08c42d1/5eaac2620e0334334f8c4360_conveer%203-transcode.mp4">
                            <source data-wf-ignore="true"
                                src="https://uploads-ssl.webflow.com/5eaac2620e033446d08c42d1/5eaac2620e0334334f8c4360_conveer%203-transcode.webm">
                        </video></div>
                    <div class="conveer-video w-background-video w-background-video-atom" data-autoplay="true"
                        data-loop="true"
                        data-poster-url="https://uploads-ssl.webflow.com/5e85cc5c05cae10597d74ecb/5e879e35516d8f218eaa3ddf_conveer 3-poster-00001.jpg"
                        data-video-urls="https://uploads-ssl.webflow.com/5eaac2620e033446d08c42d1/5eaac2620e0334334f8c4360_conveer%203-transcode.mp4,https://uploads-ssl.webflow.com/5eaac2620e033446d08c42d1/5eaac2620e0334334f8c4360_conveer%203-transcode.webm"
                        data-wf-ignore="true"><video autoplay="" data-object-fit="cover" data-wf-ignore="true"
                            id="b9c56307-a7a4-ce25-5c54-9f395733a209-video" loop="" muted="" playsinline=""
                            style="background-image:url('&quot;https://uploads-ssl.webflow.com/5e85cc5c05cae10597d74ecb/5e879e35516d8f218eaa3ddf_conveer 3-poster-00001.jpg&quot;')"
                            tabindex="-1">
                            <source data-wf-ignore="true"
                                src="https://uploads-ssl.webflow.com/5eaac2620e033446d08c42d1/5eaac2620e0334334f8c4360_conveer%203-transcode.mp4">
                            <source data-wf-ignore="true"
                                src="https://uploads-ssl.webflow.com/5eaac2620e033446d08c42d1/5eaac2620e0334334f8c4360_conveer%203-transcode.webm">
                        </video></div>
                </div>
            </div>
        </div>
    </section>
    <div class="no-index-end w-embed"></div>
</div>