@import url("media.css");
@font-face {
  font-family: "Actay Wide";
  src: url("../fonts/actaywide.otf");
}

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  outline: none;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.mg {
  margin: 0 8vw;
  height: 100%;
  overflow: hidden;
}

.main {
  background-image: linear-gradient(to right, rgba(0, 0, 0), rgba(0, 0, 0, 0)),
    url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  height: 110vh;
}

.about__main {
  background-image: linear-gradient(to right, rgba(0, 0, 0), rgba(0, 0, 0, 0)),
    url("../img/about_back.png") !important;
}

header {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.header__item {
  min-width: 180px;
  font-weight: 700;
}

.header__item__logo {
  width: 100%;
}

.header__item__links {
  width: 55%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap-reverse;
  align-items: center;
}

button {
  font-family: "Actay Wide";
  border-radius: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  border: 1px;
  position: relative;
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
}

.header__item__button:hover {
  background: #fff;
  color: #000;
}

.header__item__button:active {
  background: rgba(255, 255, 255, 0.8);
}

.bordered::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 20px;
  border: 1px solid transparent;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0.8),
      rgba(0, 0, 0, 0)
    )
    border-box;
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}

.header__item__button {
  padding: 0 15px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  font-size: 20px;
}

.wrapper__text {
  width: 60vw;
  display: flex;
  flex-flow: column;
  text-align: left;
}

.wrapper__title {
  font-family: "Actay Wide";
  font-size: 60px;
}

.wrapper__decription {
  font-size: 24px;
  padding-top: 20px;
}

.wrapper__form {
  background: rgba(19, 23, 27, 0.5);
  width: 38vw;
  border-radius: 20px;
  position: relative;
  margin-top: 40px;
  backdrop-filter: blur(20px);
}

.wrapper__about {
  height: 60%;
  display: flex;
  align-items: center;
}

form {
  padding: 35px;
}

.form__title {
  font-family: "Actay Wide";
  font-size: 36px;
}

.form__input__box-row {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  flex-wrap: wrap;
}

.input-item {
  width: 45%;
  height: 75px;
  font-size: 20px;
  padding: 0 20px;
  color: black;
  border-radius: 20px;
  border: 2px solid #fff;
  background: #efefef;
  z-index: 98;
}

.input-item:hover {
  border: 2px solid #825a5a;
}

.input-item:focus::placeholder {
  color: #000;
}

.input-item:focus {
  border: 2px solid #fff;
}

.form_btn {
  width: 100%;
  margin-top: 20px;
  height: 75px;
  position: relative;
  background: linear-gradient(270.99deg, #ff0000 1.85%, #f05252 95.25%);
  font-size: 24px;
}

.form_btn:hover {
  background: linear-gradient(270.99deg, #ff0000 1.85%, #f57070 95.25%);
  box-shadow: 0 0 20px rgba(255, 103, 103, 0.613);
}

.transition {
  background: linear-gradient(to top, white 2.5%, rgba(255, 255, 255, 0) 95%);
  margin-top: -9.9vh;
  height: 10vh;
}

.about {
  width: 100%;
}

.about__title,
.about_desc {
  color: #000;
}

.about__title {
  font-size: 50px;
  font-family: "Actay Wide";
  font-weight: 700;
  padding-right: 2vw;
}

.about_desc {
  font-size: 16px;
  font-weight: 500;
}

.about__text {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 100px 0 20px 0;
}

.about span {
  font-size: 18px;
  color: #000;
}

.about__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.about__inner__block {
  background-color: #e3e3e3;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  min-height: 160px;
  transition: 0.5s ease;
}

.about__inner__block:hover {
  background: #efefef;
  box-shadow: 0 0 15px #e6e6e6;
}

.about__inner_block__title {
  font-family: "Actay Wide";
  font-weight: 700;
  font-size: 22px !important;
  padding-bottom: 10px;
}

.icon {
  height: 80px;
  max-width: 100px;
  margin-bottom: 18px;
}

.about__centres {
  background-color: #202020;
  border-radius: 20px;
  padding: 40px;
  background-image: url("../img/card_back.png");
  background-repeat: no-repeat;
  background-position: right;
  margin: 50px 0;
}

.centres__text span {
  color: #fff !important;
  display: flex;
  max-width: 60%;
}

.centres__blocks__item__description {
  padding: 10px 0;
}

.centres__title,
.centres__title2 {
  font-family: "Actay Wide";
  font-weight: 700;
}

.centres__title {
  font-size: 50px !important;
}

.centres__title2 {
  font-size: 28px !important;
  padding: 20px 0;
}

.centres__blocks__item {
  width: 30%;
  display: flex;
  align-items: center;
}

.centres__blocks__item span {
  padding-left: 18px;
}

.centres__blocks {
  display: flex;
}

.about__statistics {
  display: flex;
  flex-flow: row wrap;
}

.statistics__item {
  background-color: #efefef;
  padding: 30px;
  border-radius: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s ease;
}

.statistics__item:hover {
  background: #e6e6e6;
  box-shadow: 0 0 15px #e6e6e6;
}

.statistics__item .item__title {
  font-size: 28px !important;
  font-family: "Actay Wide";
  font-weight: 700;
}

.item__desc {
  font-size: 18px;
}

.about__partners {
  margin-top: 40px;
  display: flex;
  flex-flow: wrap;
  width: 100%;
  justify-content: space-around;
}

.about__partners__item {
  padding-bottom: 10px;
}

.cens {
  max-width: 60%;
}

.grid {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.btn_white {
  background: #fff !important;
  color: #000;
}

.btn_white:hover {
  box-shadow: none;
  background: #efefefc6 !important;
}

.about__coop {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.coop__item:nth-child(1) {
  grid-column-start: 1 span;
  grid-row-start: 2 span;
  background-image: url("../img/car_btn.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 70%;
  justify-content: flex-end;
}

.coop__item:nth-child(2) {
  background-image: url("../img/block1_btn.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.coop__item:nth-child(3) {
  background-image: url("../img/block2_btn.png");
  background-repeat: no-repeat;
  background-position: top right;
}

.coop__item {
  padding: 35px;
  border-radius: 20px;
  margin: 20px;
  background-color: #202020;
  display: flex;
  flex-direction: column;
}

.coop__title,
.coop_desc {
  color: #fff !important;
}

.coop_desc {
  padding: 10px 0;
}

.coop__item .coop__title {
  font-size: 28px;
  font-family: "Actay Wide";
  font-weight: 700;
}

.coop__item button {
  width: 60%;
}

.about__logistics {
  padding: 1vw;
  background-color: #202020;
  display: grid;
  z-index: -2;
  position: relative;
  border-radius: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.about__logistics__item {
  font-size: 2vw;
  font-family: "Actay Wide";
  font-weight: 700;
  padding: 1.4vw;
  margin: 1.5vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
}

.about__logistics__item:nth-child(2) {
  margin-left: -3vw;
}

.about__logistics__item:nth-child(4) {
  margin-right: -5vw;
}

.about__logistics__item:nth-child(7) {
  grid-column-start: 1;
  grid-row-start: 4;
  margin-top: -3vw;
  margin-bottom: 5.5vw;
}

.about__logistics__item:nth-child(6) {
  grid-column-start: 2;
  grid-row-start: 4;
}

.about__logistics__item:nth-child(5) {
  grid-column-start: 2;
  grid-row-start: 3;
  margin-left: 5vw;
}

.vec {
  width: 2.1vw;
  height: 1.5vw;
}

.red_item {
  z-index: -1;
  border-radius: 20px;
  background: linear-gradient(270.99deg, #ff0000 1.85%, #f05252 95.25%);
}

.arrow1,
.arrow2,
.arrow3,
.arrow4,
.arrow5,
.arrow6 {
  position: absolute;
}

.about__log {
  width: 100%;
  position: relative;
  overflow-y: hidden;
}

.arrow1 {
  left: 40%;
  top: 12%;
}

.arrow2 {
  transform: rotate(90deg);
  left: 65%;
  top: 24%;
}

.arrow3 {
  transform: rotate(-180deg);
  left: 48%;
  top: 35%;
}

.arrow4 {
  transform: rotate(90deg);
  left: 72%;
  top: 48%;
}

.arrow5 {
  transform: rotate(90deg);
  left: 20%;
  top: 52%;
}

.arrow6 {
  transform: rotate(90deg);
  left: 68%;
  top: 72%;
}

.map {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.map img {
  width: 100%;
}

.map .iconmap {
  width: 10%;
  position: absolute;
}

#start {
  left: 11.5%;
  top: 24%;
}

#end1 {
  left: 81%;
  top: 59%;
}

#end2 {
  left: 77%;
  top: 44%;
}

#end3 {
  left: 39%;
  top: 53%;
}

#object1 {
  left: 15%;
  top: 23%;
  animation: fly1 3s ease-in-out infinite;
}

#object2 {
  left: 14%;
  top: 22%;
  transform: rotate(-20deg);
  animation: fly2 3s ease-in-out infinite;
}

#object3 {
  left: 12%;
  top: 25%;
  transform: rotate(20deg);
  animation: fly3 3s ease-in-out infinite;
}

@keyframes fly1 {
  0% {
    left: 15%;
    top: 23%;
  }
  100% {
    left: 81%;
    top: 59%;
  }
}

@keyframes fly2 {
  0% {
    left: 14%;
    top: 22%;
    transform: rotate(-20deg);
  }
  30% {
    top: 21%;
  }
  100% {
    left: 77%;
    top: 44%;
    transform: rotate(5deg);
  }
}

@keyframes fly3 {
  0% {
    left: 12%;
    top: 25%;
    transform: rotate(20deg);
  }
  75% {
    top: 51%;
  }
  100% {
    left: 39%;
    top: 53%;
    transform: rotate(-5deg);
  }
}

.about__calculate {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.about__calculate form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  padding: 0;
  width: 40%;
}

.about__calculate form .input-item {
  width: 100% !important;
}

.input__grid1 {
  grid-row-start: 1 span;
  grid-column-start: 2 span;
}

.input__grid2 {
  grid-column-start: 2 span;
}

.input__grid7 {
  grid-column-start: 2 span;
  margin: 10px;
  width: auto;
}

.about__calculate__pic {
  display: flex;
  justify-content: center;
}

.about__calculate__pic img {
  width: 90%;
}

.about__slider {
  display: flex;
  justify-content: space-between;
}

.btn__prev,
.btn__next {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  margin-left: 15px;
}

.slider__buttons,
.btn__prev,
.btn__next {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  transition: none;
}

.btn__prev {
  transform: rotate(180deg);
}

.slider__item {
  border-radius: 25px;
  padding: 25px;
  background-color: #efefef;
  min-width: 25%;
  margin: 20px;
}

.slider__item__title,
.slider__item__body {
  color: #000;
}

.slider__item__title {
  font-family: "Actay Wide";
  font-weight: 700;
  font-size: 28px;
  padding-top: 20px;
}

.slider__item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__item__header__rate {
  width: 15vw;
}

.slider__item__header__rate img {
  padding: 0 5px;
}

.slider__item__header__user {
  width: 65px;
  height: 65px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Actay Wide";
  font-weight: 700;
  font-size: 28px;
  background-color: #121212;
}

.slider__container {
  overflow: hidden;
}

.slider__track {
  display: flex;
  transition: 0.2s ease;
  overflow: visible;
}

footer {
  margin-top: 10vh;
  background-color: #202020;
  width: 100%;
  padding: 60px 0;
}

.footer__text {
  display: flex;
  flex-direction: row;
}

.footer__title {
  font-weight: 700;
  font-family: "Actay Wide";
  padding: 25px 0 10px 0;
}

.footer__text__contact,
.footer__text__addition {
  display: flex;
  flex-direction: column;
}

.footer__text__contact {
  justify-content: space-around;
}

.footer__text__addition {
  padding-left: 50px;
  max-width: 50%;
}

.footer__container {
  display: flex;
}

.footer__map {
  width: 50%;
  height: 250px;
  border-radius: 20px;
}

.calc__modal {
  position: fixed;
  visibility: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
  padding: 30px 0;
}

.calc__modal__wrap {
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  min-height: 100%;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.calc__modal__window {
  padding: 35px;
  border-radius: 20px;
  margin: 50px 0;
  flex-shrink: 0;
  flex-grow: 0;
  background: rgba(19, 23, 27, 0.5);
  backdrop-filter: blur(20px);
  width: 750px;
  max-width: 90%;
  overflow: visible;
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
  transform: scale(0.9);
  opacity: 0;
}

.success__modal__window {
  z-index: -10000;
  position: absolute;
  padding: 35px;
  border-radius: 20px;
  margin: 50px 0;
  flex-shrink: 0;
  flex-grow: 0;
  background: rgba(19, 23, 27, 0.5);
  backdrop-filter: blur(20px);
  width: 750px;
  max-width: 90%;
  overflow: visible;
  transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
  transform: scale(0.9);
  opacity: 0;
}

.calc__modal--active {
  visibility: visible;
}
.calc__modal--active .calc__modal__window {
  transform: scale(1);
  opacity: 1;
}

.calc__modal__opened {
  position: fixed;
  right: 0;
  left: 0;
  overflow: hidden;
}

.modal__title {
  font-size: 30px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  font-family: "Actay Wide";
}

.modal__btn {
  width: 80%;
  margin-bottom: 20px;
}

.modal__text__grid:nth-child(5),
.modal__text__grid:nth-child(6) {
  font-weight: 800;
}

.modal__text__grid {
  padding: 5px 0;
}

.success__text {
  display: flex;
  width: 100%;
  justify-content: center;
}

.modal__text {
  display: grid;
  font-size: 24px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
  margin-bottom: 15px;
}

.modal__inputs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.modal__inputs .input-item {
  width: 95%;
  margin: 5px 0;
  z-index: 100;
}
.modal__item2 {
  grid-column-start: 2 span;
  width: 97.5% !important;
}

.modal__btn__container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.dark__back {
  background-color: #202020;
}

.dark__back span {
  color: #fff;
}

.item__block {
  padding: 35px;
  border-radius: 20px;
}

.item__block span {
  font-size: 24px;
  display: flex;
  margin-top: 20px;
}

.item__block .about__forwhat__item {
  font-size: 36px;
}

.about__forwhat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 500px;
}

.item__img {
  border-radius: 20px;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.about__forwhat__item {
  margin: 15px;
}

.item__title {
  font-size: 36px !important;
  font-family: "Actay Wide";
  margin: 0 !important;
}

.block__img1 {
  background-image: url("../img/block_item.png");
}

.block__img2 {
  background-image: url("../img/block_item2.png");
}

.about__block2__item {
  margin: 15px;
}

.about__item span {
  font-family: "Actay Wide";
  padding-top: 20px;
}

.about__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 20px;
}

.about__items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.about__block2 {
  min-height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about__block2 .item__img {
  background-image: url("../img/problem.png");
}

.about__besides {
  background-image: url("../img/card_back2.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 30%;
  margin: 15px;
}

.about__besides__text {
  width: 50vw;
}

.reverse {
  margin-bottom: -9.9vh;
  margin-top: 10vh !important;
  transform: rotate(180deg);
}

.second {
  margin: 0;
}

.footer__back {
  background-image: linear-gradient(to right, rgba(0, 0, 0), rgba(0, 0, 0, 0)),
    url("../img/footer_back.png") !important;
}

.footer__back .mg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper__footer {
  background-color: rgba(19, 23, 27, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  justify-content: center;
  display: flex;
  width: 850px;
  max-width: 100%;
  padding: 45px 2vw;
  flex-direction: column;
}

.wrapper__footer .wrapper__text {
  text-align: center;
  width: 100%;
  align-items: center;
}

.wrapper__footer .wrapper__text .wrapper__decription {
  padding: 24px 0;
  width: 50%;
}

.wrapper__footer a {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 20px;
}

.wrapper__footer a button {
  width: 70%;
}

.loader__container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.363);
  z-index: 200;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__container--hidden {
  opacity: 0;
  z-index: -1;
}

#loader {
  border: 0.5vw solid #f3f3f3;
  border-top: 0.5vw solid #ff0000;
  border-radius: 50%;
  width: 5vw;
  height: 5vw;
  animation: spin 2s linear infinite;
}

.conveer-line {
  transform-style: preserve-3d;
  will-change: transform;
}

.form__map {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#video {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100000;
  opacity: 1;
  transition: 0.5s ease;
}

#video video {
  object-fit: cover;
}

#volume-input,
#address-input,
#search-btn {
  width: 50%;
  max-width: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes conveerDesktop {
  0% {
    transform: translateX(0%) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg) skew(0deg, 0deg);
  }
  100% {
    transform: translateX(-100%) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg) skew(0deg, 0deg);
  }
}

@keyframes conveerMobile {
  0% {
    transform: translateX(0%) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg) skew(0deg, 0deg);
  }
  100% {
    transform: translateX(-50%) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
      rotateZ(0deg) skew(0deg, 0deg);
  }
}
