<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #myMap {
            width: 100%;
            height: 500px;
            margin: 0;
            padding: 0;
        }

        #mapContainer {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
            margin-top: 50px;
        }
    </style>
    <link href="https://cdn.digitalbutlers.me/projects/fulfillment/production/main.css" rel="stylesheet">
    <script crossorigin=anonymous defer
        src=https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js></script>
    <script type=text/javascript async defer
        src="https://www.bing.com/api/maps/mapcontrol?branch=experimentalkey=AuhLPv41yqdhHyrTczcWhRj1Ez4w64yryuGGaA7aMBu9X1hqpzjhsgaCKXzAw4b1"></script>
    <link type="text/css" href="./styles/index.css" rel="stylesheet" />
    <link rel="shortcut icon" href="img/favicon.svg" type="image/svg">
    <title>ПВ ЛОГИСТИК</title>
</head>

<body onload="GetMap()">
    <div id="popup" class="popup__sub bordered">
        <span class="popup__title">ПОДПИСАТЬСЯ НА РАССЫЛКУ ОТ КОМПАНИИ?</span>
        <div class="popup__btns">
            <button onclick="acceptSub()" class="popup__acc">ДА</button>
            <button onclick="cancelSub()" class="popup__dec">НЕТ, СПАСИБО</button>
        </div>
    </div>
    <div class="loader__container">
        <div id="loader"></div>
    </div>
    <section class="main">
        <div id="video">
            <video muted autoplay width="100%" height="100%" id="videoplay">
                <source src="video/IMG_4943.MP4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            </video>
        </div>
        <div class="mg">
            <header>
                <div class="header__item grid1">
                    <img src="img/logo.svg" class="header__item__logo">
                </div>
                <div class="header__item__links grid2">
                    <a class="header__item" href="mailto:pvlogistic@inbox.ru">pvlogistic@inbox.ru</a>
                    <a class="header__item" href="tel:+79037959539">+7 (903) 795-95-39</a>
                    <a class="header__item" href="tel:+79037959524">+7 (903) 795-95-24</a>
                </div>
                <div class="header__item grid3">
                    <a href="#target"><button class="header__item__button bordered">ЗАКАЗАТЬ ЗВОНОК</button></a>
                </div>
            </header>
            <div class="wrapper mb">
                <div class="wrapper__text">
                    <span class="wrapper__title">ДОСТАВКА ГРУЗОВ ДО МАРКЕТПЛЕЙСА</span>
                    <span class="wrapper__decription">Поставляем грузы на российские<br>FMCG маркетплейсы с 2017
                        года</span>
                </div>
                <div class="wrapper__form bordered">
                    <form>
                        <span class="form__title">Расчёт стоимости</span>

                        <div class="form__input__box-row">
                            <input id="form-name" type="name" class="input-item" placeholder="Имя">
                            <input id="form-tel" type="tel" class="input-item" placeholder="Телефон">
                        </div>
                        <div class="form__input__box-row">
                            <input id="form-from" type="text" class="input-item" placeholder="Откуда?">
                            <input id="form-to" type="text" class="input-item" placeholder="Куда?">
                        </div>
                        <div class="form__input__box-row">
                            <input id="form-weight" type="number" class="input-item" placeholder="Вес груза (в кг)">
                            <input id="form-volume" type="number" class="input-item" placeholder="Объем груза (в м3)">
                        </div>

                        <button type="submit" onclick="openModal(event, 1)" class="form_btn bordered">Получить
                            расчёт</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div class="transition"></div>
    <main class="about">
        <div class="mg">
            <div class="about__text">
                <div class="about__title">О НАС</div>
                <div class="about_desc">Транспортная компания</div>
            </div>
            <div class="about__inner">
                <div class="about__inner__block">
                    <img src="img/about1.svg" class="icon">
                    <span>В штате компании более 55 специалистов в сфере логистики</span>
                </div>
                <div class="about__inner__block">
                    <img src="img/about2.svg" class="icon">
                    <span>Представители в 24 городах</span>
                </div>
                <div class="about__inner__block">
                    <img src="img/about3.svg" class="icon">
                    <span>Широкая специализация на перевозки от розничной торговли до маркетплейсов</span>
                </div>
                <div class="about__inner__block">
                    <img src="img/about4.svg" class="icon">
                    <span>Более 5 лет работы с крупными ритейлерами</span>
                </div>
            </div>
            <div class="about__centres">
                <div class="centres__text">
                    <span class="centres__title">РАСПРЕДЕЛИТЕЛЬНЫЕ ЦЕНТРЫ</span>
                    <span class="centres__blocks__item__description">Постоянным партнерам оказываем складские услуги и
                        готовы по запросу организовать складскую деятельность в любом регионе России и Казахстана</span>
                    <span class="centres__title2">НА ДАННЫЙ МОМЕНТ:</span>
                    <div class="centres__blocks">
                        <div class="centres__blocks__item">
                            <img src="img/about5.svg">
                            <span>18 складов в России и Казахстане</span>
                        </div>
                        <div class="centres__blocks__item">
                            <img src="img/about6.svg">
                            <span>Площадь складов от 300 м² до 600 м²</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="about__text">
                <div class="about__title cens">ПЕРЕВОЗКИ ДО ПУНКТОВ ВЫДАЧИ ЗАКАЗОВ</div>
            </div>
            <div class="about__statistics">
                <div class="statistics__item">
                    <span class="item__title">20</span>
                    <span class="item__desc">Регионов</span>
                </div>
                <div class="statistics__item">
                    <span class="item__title">50+</span>
                    <span class="item__desc">городов в России и Казахстане</span>
                </div>
                <div class="statistics__item">
                    <span class="item__title">400+</span>
                    <span class="item__desc">машин работает 24/7</span>
                </div>
                <div class="statistics__item">
                    <span class="item__title">2-3</span>
                    <span class="item__desc">рейса в сутки выполняет каждая машина</span>
                </div>
                <div class="statistics__item">
                    <span class="item__title">700+</span>
                    <span class="item__desc">выездов в сутки</span>
                </div>
                <div class="statistics__item">
                    <span class="item__title">ДОСТАВЛЯЕМ ТОВАРЫ ДО 2800 ПВЗ В 24 ГОРОДАХ</span>
                </div>
            </div>
            <div class="about__text">
                <div class="about__title">КЛЮЧЕВЫЕ ПАРТНЕРЫ</div>
                <div class="about_desc">Маркетплейсы</div>
            </div>
            <div class="about__partners">
                <div class="about__partners__item"><img src="img/wb.png"></div>
                <div class="about__partners__item"><img src="img/ozon.png"></div>
                <div class="about__partners__item"><img src="img/yamarket.png"></div>
                <div class="about__partners__item"><img src="img/ali.png"></div>
                <div class="about__partners__item"><img src="img/detmir.png"></div>
            </div>
            <div class="about__text">
                <div class="about__title cens">МЕЖСКЛАДОВСКИЕ ПЕРЕВОЗКИ<div class="about_desc">по Московскому региону
                    </div>
                </div>
            </div>
            <div class="about__statistics">
                <div class="statistics__item">
                    <span class="item__title">178</span>
                    <span class="item__desc">Машин работает 24/7</span>
                </div>
                <div class="statistics__item">
                    <span class="item__title">2</span>
                    <span class="item__desc">Минимум рейса в день каждая машина</span>
                </div>
                <div class="statistics__item">
                    <span class="item__title">500</span>
                    <span class="item__desc">Выездов в сутки</span>
                </div>
                <div class="statistics__item">
                    <span class="item__title">20 400</span>
                    <span class="item__desc">Кубометров товаров в сутки</span>
                </div>
                <div class="statistics__item">
                    <span class="item__desc">Постоянное дежурство 2 фур и 2 одиночек на основном складе в
                        Подольске</span>
                </div>
                <div class="statistics__item">
                    <span class="item__desc">Круглосуточная поддержка автосервиса-партнера</span>
                </div>
                <div class="statistics__item">
                    <span class="item__desc">Круглосуточный контроль логистов за выездом машины по графику и объемом
                        товара (замена класса ТС в течение часа)</span>
                </div>
            </div>
            <div id=mapContainer>
                <div id=myMap></div>
            </div>
            <br>
            <div class="form__map">
                <input id=volume-input name=volume class="input-item" placeholder="Объём" type=number>
                <br>
                <input id=address-input name=volume class="input-item" placeholder="Адрес" type=text>
                <button id=search-btn class="form_btn"
                    style="border:none;color:#fff;text-align:center;text-decoration:none;display:inline-block;margin-bottom:10px;cursor:pointer;">Найти
                </button>
            </div>
            <div class="about__text">
                <div class="about__title">ПОЧЕМУ КЛИЕНТЫ ВЫБИРАЮТ НАС</div>
            </div>
            <div class="about__inner grid">
                <div class="about__inner__block">
                    <img src="img/garantee.svg" class="icon">
                    <span class="about__inner_block__title">ГАРАНТИРОВАННАЯ ДОСТАВКА НА СКЛАД</span>
                    <span>Поможем решить любые проблемы при приемке ваших товаров</span>
                </div>
                <div class="about__inner__block">
                    <img src="img/delivery.svg" class="icon">
                    <span class="about__inner_block__title">ЕЖЕДНЕВНЫЕ ЗАБОР И ДОСТАВКА ГРУЗОВ</span>
                    <span>Наша компания каждый день осуществляет доставку сборных грузов</span>
                </div>
                <div class="about__inner__block">
                    <img src="img/experience.svg" class="icon">
                    <span class="about__inner_block__title">ОПЫТ РАБОТЫ С МАРКЕТПЛЕЙСАМИ</span>
                    <span>Мы знаем все правила и требования маркетплейсов. Всегда готовы помочь вам</span>
                </div>
                <div class="about__inner__block">
                    <img src="img/money.svg" class="icon">
                    <span class="about__inner_block__title">ОПЛАТА</span>
                    <span>Вы оплачиваете наши услуги только после выполненной нами работы</span>
                </div>
                <div class="about__inner__block">
                    <img src="img/cost.svg" class="icon">
                    <span class="about__inner_block__title">СТОИМОСТЬ</span>
                    <span>Мы предлагаем фиксированную стоимость по доставке до маркетплейсов</span>
                </div>
                <div class="about__inner__block">
                    <img src="img/box.svg" class="icon">
                    <span class="about__inner_block__title">ФУЛФИЛМЕНТ</span>
                    <span>Мы обо всем позаботимся! Заберем, промаркируем, упакуем и доставим ваш товар</span>
                </div>
            </div>
            <div class="about__text">
                <div class="about__title">ПРЕДЛОЖЕНИЯ СОТРУДНИЧЕСТВА</div>
            </div>
            <div class="about__coop">
                <div class="coop__item">
                    <span class="coop__title">ДОСТАВКА «ПОСЛЕДНЕЙ МИЛИ» ДО ПУНКТА ВЫДАЧИ</span>
                    <span class="coop_desc">Постоянным партнерам оказываем складские услуги и готовы по запросу
                        организовать складскую деятельность в любом регионе России и Казахстана</span>
                    <a href="#target"><button class="form_btn bordered">Выбрать</button></a>
                </div>
                <div class="coop__item">
                    <span class="coop__title">ПЕРЕВОЗКИ МЕЖДУ СКЛАДАМИ И ПУНКТАМИ ВЫДАЧИ ЗАКАЗОВ</span>
                    <span class="coop_desc">Постоянным партнерам оказываем складские услуги и готовы по запросу
                        организовать складскую деятельность в любом регионе России и Казахстана</span>
                    <a href="./about"><button class="form_btn bordered btn_white">Выбрать</button></a>
                </div>
                <div class="coop__item">
                    <span class="coop__title">ПЕРЕВОЗКИ И УПРАВЛЕНИЕ СОРТИРОВОЧНЫМИ ЦЕНТРАМИ</span>
                    <span class="coop_desc">Постоянным партнерам оказываем складские услуги и готовы по запросу
                        организовать складскую деятельность в любом регионе России и Казахстана</span>
                    <button class="form_btn bordered btn_white">Выбрать</button>
                </div>
            </div>
            <div class="about__text">
                <div class="about__title cens">ЛОГИСТИКА ДЛЯ МАРКЕТПЛЕЙСОВ</div>
            </div>
            <div class="about__log">
                <div class="about__logistics">
                    <div class="about__logistics__item bordered">ПОСТАВЩИКИ НА МП</div>
                    <div class="about__logistics__item bordered">ОСНОВНОЙ СКЛАД МП</div>
                    <div class="about__logistics__item bordered">РАСПРЕДЕЛИТЕЛЬНЫЙ ЦЕНТР</div>
                    <div class="about__logistics__item bordered">МЕЖСКЛАД МОСКВА</div>
                    <div class="about__logistics__item bordered">СОРТИРОВОЧНЫЙ ЦЕНТР</div>
                    <div class="about__logistics__item bordered red_item">ПУНКТ ВЫДАЧИ ЗАКАЗОВ</div>
                    <div class="about__logistics__item bordered red_item">ПУНКТ ВЫДАЧИ ЗАКАЗОВ</div>
                </div>
                <img src="img/arrow.png" class="arrow1 vec">
                <img src="img/arrow.png" class="arrow2 vec">
                <img src="img/arrow.png" class="arrow3 vec">
                <img src="img/arrow.png" class="arrow4 vec">
                <img src="img/arrow.png" class="arrow5 vec">
                <img src="img/arrow.png" class="arrow6 vec">
            </div>
            <div class="about__text">
                <div class="about__title cens">ДОСТАВЛЯЕМ ГРУЗЫ ПО ВСЕЙ РОССИИ</div>
            </div>
            <div class="map">
                <img src="img/map.png">
                <img src="img/end.svg" class="iconmap" id="end1">
                <img src="img/end.svg" class="iconmap" id="end2">
                <img src="img/end.svg" class="iconmap" id="end3">
                <img src="img/plane.png" class="iconmap" id="object1">
                <img src="img/plane.png" class="iconmap" id="object2">
                <img src="img/plane.png" class="iconmap" id="object3">
            </div>
            <div class="about__text">
                <div class="about__title cens" id="target">РАСЧЁТ СТОИМОСТИ</div>
            </div>
            <div class="about__calculate">
                <form>
                    <input id="form2-name" type="name" class="input-item input__grid1" placeholder="Имя">
                    <input id="form2-tel" type="tel" class="input-item input__grid2" placeholder="Телефон">
                    <input id="form2-from" type="from" class="input-item" placeholder="Откуда?">
                    <input id="form2-to" type="to" class="input-item" placeholder="Куда?">
                    <input id="form2-weight" type="weight" class="input-item" placeholder="Вес груза (в кг)">
                    <input id="form2-volume" type="volume" class="input-item" placeholder="Объем груза (в м3)">
                    <button onclick="openModal(event, 2)" class="form_btn bordered input__grid7" type="submit">Получить
                        расчёт</button>
                </form>
                <div class="about__calculate__pic"><img src="img/formpic.png"></div>
            </div>
            <div class="about__text about__slider">
                <div class="about__title">ОТЗЫВЫ</div>
                <div class="slider__buttons">
                    <button class="btn__prev"><img src="img/slide_btn.svg"></button>
                    <button class="btn__next"><img src="img/slide_btn.svg"></button>
                </div>
            </div>
            <div class="slider__container">
                <div class="slider__track">
                    <div class="slider__item">

                        <div class="slider__item__header">
                            <div class="slider__item__header__user">C</div>
                            <div class="slider__item__header__rate">
                                <img src="img/star.svg"><img src="img/star.svg"><img src="img/star.svg"><img
                                    src="img/star.svg"><img src="img/star.svg">
                            </div>
                        </div>
                        <div class="slider__item__title">СНЕЖАНА Г.</div>
                        <div class="slider__item__body">Наша компания уже больше года сотрудничает с замечательной
                            компанией ПВ Логистик. Мы в восторге от этой компании. Ребята все первоклассные, знающие
                            свое дело, всегда помогут в любых вопросах. Логист Евгения великолепная девушка, всегда
                            очень грамотно постоит маршрут так, чтобы вовремя ко всем успеть. Ребятушки, я очень
                            горжусь знакомством с вами! Успехов Вам и процветания!!!
                        </div>
                    </div>

                    <div class="slider__item">

                        <div class="slider__item__header">
                            <div class="slider__item__header__user">Я</div>
                            <div class="slider__item__header__rate">
                                <img src="img/star.svg"><img src="img/star.svg"><img src="img/star.svg"><img
                                    src="img/star.svg"><img src="img/star.svg">
                            </div>
                        </div>

                        <div class="slider__item__title">ЯРОПОЛК И.</div>
                        <div class="slider__item__body">Вот уже продолжительное время пользуюсь услугами данной
                            конторы, все всегда на высшем уровне, вежливые сотрудники, помогающие и
                            координирующие, отдельное спасибо хочу сказать Глебу, со всем помог, сопроводил,
                            объяснил. Все рабочие договорённости выполняют в срок и качественно. В общем
                            конторой доволен на все 100%, можете обращаться
                        </div>
                    </div>

                    <div class="slider__item">
                        <div class="slider__item__header">
                            <div class="slider__item__header__user">В</div>
                            <div class="slider__item__header__rate">
                                <img src="img/star.svg"><img src="img/star.svg"><img src="img/star.svg"><img
                                    src="img/star.svg"><img src="img/star.svg">
                            </div>
                        </div>
                        <div class="slider__item__title">ВАДИМ БОРИСОВ</div>
                        <div class="slider__item__body">Давно хотел написать отзыв, наконец-то появилось
                            время. С 2020 года пользуюсь услугами этой компании. Доволен качеством услуг.
                            Доставка осуществляется вовремя. Женя - главный логист заботится от клиентах,
                            как о своей семье. Это сразу приятно удивило и я распрощаться со своими другими
                            логистами. Теперь я самый лояльный клиент этой компании. Спасибо вам.
                        </div>
                    </div>

                    <div class="slider__item">
                        <div class="slider__item__header">
                            <div class="slider__item__header__user">И</div>
                            <div class="slider__item__header__rate">
                                <img src="img/star.svg"><img src="img/star.svg"><img src="img/star.svg"><img
                                    src="img/star.svg"><img src="img/star.svg">
                            </div>
                        </div>
                        <div class="slider__item__title">ИРИНА ЕЛИСЕЕВА</div>
                        <div class="slider__item__body">Работаю с компанией полтора года. За все время
                            ни одного пересорта (!!!) все операции выполняются строго по тех заданию,
                            аккуратно и в срок. Гибкие условия, замечательный менеджер, огромная
                            благодарность!
                        </div>
                    </div>

                    <div class="slider__item">
                        <div class="slider__item__header">
                            <div class="slider__item__header__user">М</div>
                            <div class="slider__item__header__rate">
                                <img src="img/star.svg"><img src="img/star.svg"><img src="img/star.svg"><img
                                    src="img/star.svg"><img src="img/star.svg">
                            </div>
                        </div>
                        <div class="slider__item__title">MYSUPERTOY M.</div>
                        <div class="slider__item__body">Работаем с ПВ Логистик с 2019 года, возим
                            постоянно на ВБ и Озон. Особенно благодарим нашего менеджера Евгению за
                            готовность решить любой вопрос в крадчайшие сроки. Спасибо. Рекомендую!
                        </div>
                    </div>

                    <div class="slider__item">
                        <div class="slider__item__header">
                            <div class="slider__item__header__user">И</div>
                            <div class="slider__item__header__rate">
                                <img src="img/star.svg"><img src="img/star.svg"><img src="img/star.svg"><img
                                    src="img/star.svg"><img src="img/star.svg">
                            </div>
                        </div>
                        <div class="slider__item__title">ИВАН Ж.</div>
                        <div class="slider__item__body">Отличная компания, профессиональный и
                            гибкий подход, работаю теперь только с этими ребятами и другим
                            рекомендую. Вам желаю процветания и роста.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="mg">
            <div class="footer__logo"><img src="img/logo.svg"></div>
            <div class="footer__container">
                <div class="footer__text">
                    <div class="footer__text__contact">
                        <span class="footer__title">Контактная информация:</span>
                        <span>+7 (903) 795-95-39 <br> +7 (903) 795-95-24<br><br>pvlogistic@inbox.ru</span>
                        <button class="header__item__button bordered">Заказать звонок</button>
                    </div>
                    <div class="footer__text__addition">
                        <span class="footer__title">Адрес:</span>
                        <span>Московская ул., 15, Климовск, Московская обл., 142184</span>
                        <span class="footer__title">Время работы:</span>
                        <span>Ежедневно с 10:00 до 17:00<br><br>Прием заявок ежедневно и круглосуточно</span>
                    </div>
                </div>
                <iframe class="footer__map"
                    src="https://yandex.ru/map-widget/v1/?um=constructor%3Aaeef82e10a843be0c59d65be54c2cd35e7d7aec4239fa40b0bfd1ce205d66438&amp;source=constructor"
                    frameborder="0">
                </iframe>
            </div>
        </div>
    </footer>
    <div class="calc__modal" id="modal">
        <div class="calc__modal__wrap">
            <div class="calc__modal__window bordered">
                <span class="modal__title">Стоимость доставки:</span>
                <div class="modal__text">
                    <span class="modal__text__grid">Откуда: <span id="modal-from"></span></span>
                    <span class="modal__text__grid">Вес груза: <span id="modal-weight"></span> кг</span>
                    <span class="modal__text__grid">Куда: <span id="modal-to"></span></span>
                    <span class="modal__text__grid">Объем груза: <span id="modal-volume"></span> м3</span>
                    <span class="modal__text__grid">Стоимость: <span id="modal-cost"></span> руб.</span>
                    <span class="modal__text__grid">Расстояние: <span id="modal-dist"></span> км</span>
                </div>
                <div class="modal__inputs">
                    <input id="modal-mail" type="email" required class="input-item"
                        placeholder="Адрес электронной почты">
                    <input id="modal-tel" type="tel" required class="input-item" placeholder="Номер телефона">
                    <input id="modal-comment" type="text" required class="input-item modal__item2"
                        placeholder="Комментарий">
                </div>
                <div class="modal__subscribe">
                    <input type="checkbox" id="isSub" checked>
                    <span>Подписаться на рассылку</span>
                </div>
                <div class="modal__btn__container">
                    <button onclick="orderCall()" class="form_btn bordered modal__btn">Заказать звонок</button>
                </div>
            </div>

            <div class="success__modal__window bordered">
                <span class="modal__title">Ваша заявка успешно отправлена!</span>
                <span class="success__text">Наш менеджер свяжется с Вами в ближайшее время.</span>
                <div class="modal__btn__container">
                    <button onclick="closeModal()" class="form_btn bordered modal__btn">Готово</button>
                </div>
            </div>

            <div class="sub__modal__window bordered">
                <span class="modal__title">Подписаться на рассылку от нашей компании</span>
                <div class="modal__sub__inputs">
                    <input id="modal-sub-name" type="text" required class="input-item" placeholder="Имя">
                    <input id="modal-sub-mail" type="email" required class="input-item" placeholder="Электронная почта">
                </div>
                <div class="modal__btn__container">
                    <button onclick="subscribe()" class="form_btn bordered modal__btn">Готово</button>
                </div>
            </div>
        </div>
    </div>

    <script defer src="./src/main.js"></script>
    <script defer src="./src/bing.js"></script>
</body>

</html>